.banner-anchor-nav__nav {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 3;
  pointer-events: none;
}

.banner-anchor-nav__nav .anchor-nav__nav {
  pointer-events: auto;
}

.banner-anchor-nav__nav .page-width {
  padding-left: 20px;
  padding-right: 20px;
}

.banner-anchor-nav .banner__content {
  z-index: 3;
}

.banner-anchor-nav .anchor-nav__link {
  border-color: rgba(var(--color-foreground), 0.5);
  background-color: transparent;
}

.banner-anchor-nav .anchor-nav__link:hover {
  border-color: rgb(var(--color-foreground));
  color: rgb(var(--color-foreground));
}

@media screen and (max-width: 749px) {
  .banner-anchor-nav.banner--mobile-bottom .banner-anchor-nav__nav {
    position: absolute;
    bottom: 40px;
  }

  .banner-anchor-nav.banner--mobile-bottom .banner__media {
    position: relative;
  }
}
