.video-section__height {
  position: relative;
}

.video-section-wrapper,
.video-section-wrapper .video-section,
.video-section-wrapper .video-section__content,
.video-section-wrapper .video-section__content-inner,
.video-section-wrapper .video-section__media {
  background: transparent;
}

.video-section--transparent-bg .video-section__content-inner .button--secondary {
  --alpha-button-background: 0;
}

.video-section--transparent-button .video-section__content-inner .button--primary {
  --alpha-button-background: 0;
}

.video-section__content {
  position: absolute;
  right: 0;
  bottom: 2rem;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  pointer-events: none;
}

.video-section__content-inner {
  width: 100%;
  max-width: 80rem;
  text-align: center;
  color: rgb(var(--color-foreground));
  pointer-events: auto;
}

.video-section__heading {
  margin: 0;
}

.video-section__text {
  margin-top: 1rem;
}

.video-section__text > *:first-child {
  margin-top: 0;
}

.video-section__content-inner .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .video-section__content {
    bottom: 4rem;
  }
}

.video-section__media {
  --ratio-percent: 56.25%;
  position: relative;
  padding-bottom: calc(var(--ratio-percent) - var(--media-border-width));
}

.video-section__media.global-media-settings--full-width {
  padding-bottom: var(--ratio-percent);
}

.video-section__media.deferred-media {
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.video-section__media.deferred-media:after {
  content: none;
}

.video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.video-section__media iframe {
  background-color: rgba(var(--color-foreground), 0.03);
  border: 0;
}

.video-section__poster,
.video-section__media iframe,
.video-section__media video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-section__media video {
  background: #000000;
}

.video-section__media.media-fit-cover video {
  object-fit: cover;
}

.video-section__height:not(.video-section__height--adapt) .video-section__media {
  padding-bottom: 0;
}

.video-section__height:not(.video-section__height--adapt) .video-section__media.media-fit-cover .video-section__poster img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .video-section__height--small:not(.video-section__height--adapt) .video-section__media {
    height: 28rem;
  }

  .video-section__height--medium:not(.video-section__height--adapt) .video-section__media {
    height: 34rem;
  }

  .video-section__height--large:not(.video-section__height--adapt) .video-section__media {
    height: 39rem;
  }

  .video-section__height--xlarge:not(.video-section__height--adapt) .video-section__media {
    height: 45rem;
  }

  .video-section__height--mobile-height .video-section__media {
    height: var(--banner-mobile-height);
    min-height: var(--banner-mobile-height);
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .video-section__height--small:not(.video-section__height--adapt) .video-section__media {
    height: 42rem;
  }

  .video-section__height--medium:not(.video-section__height--adapt) .video-section__media {
    height: 56rem;
  }

  .video-section__height--large:not(.video-section__height--adapt) .video-section__media {
    height: 72rem;
  }

  .video-section__height--xlarge:not(.video-section__height--adapt) .video-section__media {
    height: 93rem;
  }
}
